<header class="header-two">
    <div class="logo">
        <img src="/images/logo.png" alt="Logo" />
        Enskill
    </div>

    <div class="right-section">
        <nav class="nav-links">
            <a href="#">Home</a>
            <a href="#">About</a>
            <a href="#">Courses</a>
        </nav>

        <a class="signup-btn" href="/login">Login</a>
    </div>
</header>