<section class="hero">
    <div class="hero-inner">
        <div class="hero-content-div">
            <h1>From Beginner to Job-Ready</h1>
            <p>Skip endless tutorials. Learn by building real-world projects with guided steps and hands-on experience.</p><br />
            <a class="cta" href="#">Get Started <i class="fa-solid fa-circle-arrow-right"></i></a>
        </div>

        <div class="hero-image-div">
            <img src="/images/imageGirl.png" />
        </div>
    </div>
</section>