<header class="header-two">
    <div class="logo">
        <img src={} alt="Logo" />
        Excelll.
    </div>

    <div class="right-section">
        <nav class="nav-links">
            <a href="#">Home</a>
            <a href="#">About</a>
        </nav>

        <a class="signup-btn" href="#">Sign Up</a>
    </div>
</header>