<header className="header-two">
    <div className="logo">
        <img src={logo} alt="Logo" />
            InnovBridge
    </div>

    <div className="right-section">
        <nav className="nav-links">
            <a href="#">Home</a>
            <a href="#">About</a>            
        </nav>

        <a className="signup-btn" href="#">{str}</a>
    </div>
</header>